/* Inter Font Family */
:root {
  font-family: Inter, sans-serif;
  font-feature-settings: 'liga' 1, 'calt' 1; /* fix for Chrome */
}
@supports (font-variation-settings: normal) {
  :root { font-family: InterVariable, sans-serif; }
}
/* ----- */

#root > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

section {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 1rem;
}

p {
  border: 1px solid black;
  border-radius: 1rem;;
  padding: 1rem;
  cursor: pointer;
  flex-grow: 1;
  text-align: center;
}

.featured-puppy {
  border: 1px solid black;
  border-radius: 1rem;
  width: fit-content;
  padding: 1rem;
}